In [6]:
# The first step is to import the libraries required to conduct a detailed analysis.
import pandas as pd

In [5]:
# I will now load the .csv file and use .head to take a preliminary look at the data.
df = pd.read_csv(r'C:\Users\diego\OneDrive\Documents\DataScient\Mi Primera Experiencia\tickets.csv')
df.head()

,id_pedido,id_cliente,fecha,hora,id_departamento,id_seccion,id_producto,nombre_producto,precio_unitario,cantidad,precio_total
0,1,112108,2023-02-02 00:00:00,10,4,83,49683,Pepino Kirby,0.99,4,3.96
1,1,112108,2023-02-02 00:00:00,10,4,24,13176,Bolsa de Bananas Orgánicas,2.45,4,9.80
2,1,112108,2023-02-02 00:00:00,10,4,24,47209,Aguacate Hass Orgánico,1.79,2,3.58
3,2,202279,2023-02-03 00:00:00,9,4,83,28985,Col Rizada Orgánica de Michigan,2.55,2,5.10
4,2,202279,2023-02-03 00:00:00,9,4,83,17794,Zanahorias,0.95,5,4.75

In [7]:
# Description of the data contained in the dataset.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4975718 entries, 0 to 4975717
Data columns (total 11 columns):
 #   Column           Dtype
---  ------           -----
 0   id_pedido        int64
 1   id_cliente       int64
 2   fecha            object
 3   hora             int64
 4   id_departamento  int64
 5   id_seccion       int64
 6   id_producto      int64
 7   nombre_producto  object
 8   precio_unitario  float64
 9   cantidad         int64
 10  precio_total     float64
dtypes: float64(2), int64(7), object(2)
memory usage: 417.6+ MB

In [9]:
# I convert the data type of the 'fecha' column from object to date.
df['fecha'] = pd.to_datetime(df['fecha'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4975718 entries, 0 to 4975717
Data columns (total 11 columns):
 #   Column           Dtype
---  ------           -----
 0   id_pedido        int64
 1   id_cliente       int64
 2   fecha            datetime64[ns]
 3   hora             int64
 4   id_departamento  int64
 5   id_seccion       int64
 6   id_producto      int64
 7   nombre_producto  object
 8   precio_unitario  float64
 9   cantidad         int64
 10  precio_total     float64
dtypes: datetime64[ns](1), float64(2), int64(7), object(1)
memory usage: 417.6+ MB

In [21]:
# Now I will only take the 'id_pedido' and 'nombre_producto' columns to perform Market Basket Analytics.
df_basket = df[['id_pedido','nombre_producto']]
df_basket

         id_pedido                  nombre_producto
0                1                     Pepino Kirby
1                1       Bolsa de Bananas Orgánicas
2                1           Aguacate Hass Orgánico
3                2  Col Rizada Orgánica de Michigan
4                2                       Zanahorias
...            ...                              ...
4975713    3421080            Leche Entera Orgánica
4975714    3421080      Racimo de Tomates Orgánicos
4975715    3421080                Cilantro Orgánico
4975716    3421082                           Fresas
4975717    3421083                           Banana

[4975718 rows x 2 columns]

In [22]:
# I perform a grouping by 'id_pedido' to find out which products are in each order.
df_agrupado = df_basket.groupby('id_pedido')['nombre_producto'].apply(lambda producto: ','.join(producto))
df_agrupado

id_pedido
1          Pepino Kirby,Bolsa de Bananas Orgánicas,Aguaca...
2                 Col Rizada Orgánica de Michigan,Zanahorias
3                                   Espinacas Baby Orgánicas
5          Bolsa de Bananas Orgánicas,Frambuesas Orgánica...
10         Banana,Cilantro Orgánico,Aguacate Orgánico,Ceb...
                                 ...
3421077    Frambuesas Orgánicas,Calabacín Orgánico,Leche ...
3421078                       Manzanas Gala Orgánicas,Banana
3421080    Leche Entera Orgánica,Racimo de Tomates Orgáni...
3421082                                               Fresas
3421083                                               Banana
Name: nombre_producto, Length: 2060188, dtype: object

In [24]:
# I convert the dataset into a binary system to identify in a table the purchases of each product.
df_transacciones = df_agrupado.str.get_dummies(sep=',')
df_transacciones

,Agua con Gas de Pomelo,Aguacate Hass Orgánico,Aguacate Orgánico,Ajo Orgánico,Apio Orgánico en Ramillete Pequeño,Arándanos Orgánicos,Banana,Bolsa de Bananas Orgánicas,Calabacín Orgánico,Cebolla Amarilla Orgánica,...,Manzana Honeycrisp Orgánica,Manzanas Gala Orgánicas,Pepino Kirby,Pepino Orgánico,Racimo de Tomates Orgánicos,Rúcula Baby Orgánica,Tomates Cherry Orgánicos,Uvas Rojas sin Semillas,Zanahorias,Zanahorias Baby Orgánicas
id_pedido,,,,,,,,,,,,,,,,,,,,,
1,0,1,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3421077,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3421078,0,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3421080,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3421082,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3421083,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
# Here, I make the first calculation, which is the support variable, where it shows the probability of buying item x out of the total purchases.
support = df_transacciones.mean() * 100
support.sort_values(ascending=False)

Banana                                23.809381
Bolsa de Bananas Orgánicas            19.129710
Fresas Orgánicas                      13.349170
Espinacas Baby Orgánicas              12.198935
Aguacate Hass Orgánico                10.703004
Aguacate Orgánico                      8.929331
Limón Grande                           7.791279
Fresas                                 7.241960
Limones                                7.107944
Leche Entera Orgánica                  6.918301
Frambuesas Orgánicas                   6.906797
Cebolla Amarilla Orgánica              5.706324
Ajo Orgánico                           5.521778
Calabacín Orgánico                     5.302429
Arándanos Orgánicos                    5.086138
Pepino Kirby                           4.840044
Manzana Fuji Orgánica                  4.502841
Limón Orgánico                         4.422266
Tomates Cherry Orgánicos               4.266795
Manzana Honeycrisp Orgánica            4.231216
Uvas Rojas sin Semillas                4.200733
Pepino Orgánico                        4.114091
Manzana Honeycrisp                     4.036476
Zanahorias Baby Orgánicas              3.898528
Agua con Gas de Pomelo                 3.839504
Crema Orgánica                         3.827855
Manzana Fuji Extra Grande Orgánica     3.780189
Cebollas Amarillas                     3.728592
Rúcula Baby Orgánica                   3.671849
Manzanas Gala Orgánicas                3.665442
Zanahorias                             3.647386
Coliflor Fresca                        3.597876
Hummus Original                        3.593798
Cilantro Orgánico                      3.538900
Crema                                  3.470606
Espárragos                             3.446724
Cebolla Roja Orgánica                  3.429687
Apio Orgánico en Ramillete Pequeño     3.427891
Col Rizada Orgánica de Michigan        3.396632
Racimo de Tomates Orgánicos            3.239267
dtype: float64

In [26]:
# Function to calculate the confidence between two products in the sample.
def confidence(antecedent, consequent):
    # Cases where both products were purchased.
    set_ac = df_transacciones[(df_transacciones[antecedent] == 1) &
                                   (df_transacciones[consequent] == 1)]
    # Confidence = joint purchases / purchases of product A.
    return len(set_ac) / df_transacciones[antecedent].sum()

In [27]:
# Function to calculate the lift between two products in the sample.
def lift(antecedent, consequent):
    support_a = df_transacciones[antecedent].mean()
    support_c = df_transacciones[consequent].mean()
    count_ac = len(df_transacciones[(df_transacciones[antecedent] == 1) &
                                   (df_transacciones[consequent] == 1)])
    support_ac = count_ac / len(df_transacciones)
    return support_ac / (support_a * support_c)

In [28]:
from itertools import combinations

# Define a threshold for the minimum confidence.
threshold_confidence = 0.05
associations = []

# Generate product combinations and calculate confidence and lift.
for antecedent, consequent in combinations(df_transacciones.columns, 2):

    # Support of the antecedent
    support_a = df_transacciones[antecedent].mean()

    # Calculate confidence
    conf = confidence(antecedent, consequent)
    if conf > threshold_confidence:
        associations.append({
            'antecedent': antecedent,
            'consequent': consequent,
            'support_a': round(support_a * 100,1),
            'confidence': round(conf * 100,1),
            'lift': round(lift(antecedent, consequent),1)
        })


# Convert the associations into a DataFrame.
df_associations = pd.DataFrame(associations)

# Sort the associations by confidence from highest to lowest.
df_associations.sort_values(by='lift', ascending=False, inplace=True)
df_associations

,antecedent,consequent,support_a,confidence,lift
224,Cilantro Orgánico,Limones,3.5,25.4,3.6
185,Cebolla Roja Orgánica,Cilantro Orgánico,3.4,12.8,3.6
61,Ajo Orgánico,Cebolla Amarilla Orgánica,5.5,20.1,3.5
106,Apio Orgánico en Ramillete Pequeño,Zanahorias,3.4,12.0,3.3
102,Apio Orgánico en Ramillete Pequeño,Pepino Orgánico,3.4,12.7,3.1
...,...,...,...,...,...
274,Crema Orgánica,Espinacas Baby Orgánicas,3.8,8.7,0.7
304,Frambuesas Orgánicas,Fresas,6.9,5.3,0.7
38,Aguacate Orgánico,Bolsa de Bananas Orgánicas,8.9,13.0,0.7
309,Frambuesas Orgánicas,Limón Grande,6.9,5.8,0.7
15,Aguacate Hass Orgánico,Banana,10.7,14.6,0.6

In [33]:
# Create a table with the unique products and the corresponding columns.
df_unic_products = df[['id_producto', 'id_seccion', 'id_departamento', 'nombre_producto']].drop_duplicates()
df_unic_products

,id_producto,id_seccion,id_departamento,nombre_producto
0,49683,83,4,Pepino Kirby
1,13176,24,4,Bolsa de Bananas Orgánicas
2,47209,24,4,Aguacate Hass Orgánico
3,28985,83,4,Col Rizada Orgánica de Michigan
4,17794,83,4,Zanahorias
5,21903,123,4,Espinacas Baby Orgánicas
7,27966,123,4,Frambuesas Orgánicas
9,24852,24,4,Banana
10,31717,16,4,Cilantro Orgánico
11,47766,24,4,Aguacate Orgánico
12,4605,83,4,Cebollas Amarillas
13,21137,24,4,Fresas Orgánicas
14,49235,53,16,Crema Orgánica
15,27845,84,16,Leche Entera Orgánica
16,45066,24,4,Manzana Honeycrisp
17,44632,115,7,Agua con Gas de Pomelo
19,46979,83,4,Espárragos
21,42265,123,4,Zanahorias Baby Orgánicas
26,8518,83,4,Cebolla Roja Orgánica
34,41950,83,4,Racimo de Tomates Orgánicos
35,47626,24,4,Limón Grande
38,22935,83,4,Cebolla Amarilla Orgánica
41,4920,123,4,Uvas Rojas sin Semillas
47,21616,123,4,Rúcula Baby Orgánica
49,28204,24,4,Manzana Fuji Orgánica
52,16797,24,4,Fresas
53,39275,123,4,Arándanos Orgánicos
57,37646,24,4,Manzanas Gala Orgánicas
59,40706,123,4,Tomates Cherry Orgánicos
60,5876,24,4,Limón Orgánico
67,30391,83,4,Pepino Orgánico
70,24964,83,4,Ajo Orgánico
75,19057,24,4,Manzana Fuji Extra Grande Orgánica
85,26209,24,4,Limones
99,8277,24,4,Manzana Honeycrisp Orgánica
138,27104,83,4,Coliflor Fresca
156,30489,67,20,Hummus Original
159,44359,83,4,Apio Orgánico en Ramillete Pequeño
172,45007,83,4,Calabacín Orgánico
289,27086,53,16,Crema

In [34]:
# In this DataFrame, I merge the two tables I created to identify the products that are related in each purchase.
df_associations_enriched = df_associations.merge(df_unic_products, left_on='antecedent', right_on='nombre_producto', how='left').drop(columns=['nombre_producto'])
df_associations_enriched.columns = ['antecedent', 'consequent', 'support_a', 'confidence', 'lift', 'id_producto_a', 'id_seccion_a', 'id_departamento_a']
df_associations_enriched

,antecedent,consequent,support_a,confidence,lift,id_producto_a,id_seccion_a,id_departamento_a
0,Cilantro Orgánico,Limones,3.5,25.4,3.6,31717,16,4
1,Cebolla Roja Orgánica,Cilantro Orgánico,3.4,12.8,3.6,8518,83,4
2,Ajo Orgánico,Cebolla Amarilla Orgánica,5.5,20.1,3.5,24964,83,4
3,Apio Orgánico en Ramillete Pequeño,Zanahorias,3.4,12.0,3.3,44359,83,4
4,Apio Orgánico en Ramillete Pequeño,Pepino Orgánico,3.4,12.7,3.1,44359,83,4
...,...,...,...,...,...,...,...,...
394,Crema Orgánica,Espinacas Baby Orgánicas,3.8,8.7,0.7,49235,53,16
395,Frambuesas Orgánicas,Fresas,6.9,5.3,0.7,27966,123,4
396,Aguacate Orgánico,Bolsa de Bananas Orgánicas,8.9,13.0,0.7,47766,24,4
397,Frambuesas Orgánicas,Limón Grande,6.9,5.8,0.7,27966,123,4
398,Aguacate Hass Orgánico,Banana,10.7,14.6,0.6,47209,24,4

In [36]:
df_associations_enriched.to_csv('reglas.csv', index=False, sep=';', decimal=',')